<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}{% endblock %} :: Deploy de Aplicación Flask en Vercel 🚀</title>
    {% include 'bases/base_css.html' %}
  </head>
  <body>
  {% include 'bases/nav.html' %}

    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <!--Inicio del bloque body-->
           {% block content %}{% endblock %}
        </div>
      </div>
    </div>


    {% include 'bases/base_js.html' %}	
  </body>
</html>
